:root {
    --primary:#93663a;
    --bg:#1d1d1d;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffff;
}
/* Navbar  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: rgba(15, 39, 111, 0.75);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.navbar .navbar-logo span{
    color: var(--primary);
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    margin: 0 1.1rem;
}
.navbar .navbar-nav a:hover{
    color: var(--primary);

}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;    
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}
.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover{
    color: var(--primary);
}
#hamburger-menu {
    display: none;
}

/* hero section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-mask-image : linear-gradient(rgba(0,0,0,1) 80%, rgba(0,0,0,0)) ;
    mask-image : linear-gradient(rgba(0,0,0,1) 80%, rgba(0,0,0,0)) ;
}


.hero .content{
    padding: 1.2rem 7%;
    max-width: 60rem;
    /* width : 100%; */
    position : fixed;
    top : 30 ;
}
.hero .content h1{
    font-size: 5rem;
    line-height: 1.2;
    text-shadow: 0 0 2rem var(--primary), 0 0 5px rgba(15, 39, 111, 0.75);

}
.hero .content p{
    font-size: 1.5rem;
    line-height: 1.2;
    text-shadow: 0 0 2rem var(--primary), 0 0 5px rgba(15, 39, 111, 0.75);
    font-weight: 300;
    margin-top: 0.5rem;
    mix-blend-mode: difference;

}
.hero .content h1 span {
    color: #d9b692;
}
.hero .content .cta{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;
    color: #000000;
    background-color: greenyellow;
    border-radius: 0.5rem;
}

/* About Section */
.about , .menu, .contact{
    padding: 5.2rem 7% 1.4rem;
}
.about h2,.menu h2,.contact h2, .products h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.about h2 span,.menu h2 span,.contact h2 span, .products h2 span{
    color: var(--primary);
}
.about .row {
    display: flex;
}
.about .row .about-img{
    flex: 1 1 45rem;
}
.about .row .about-img img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: center;
}
.about .row .content{
    flex: 1 1 35rem;
    padding: 3rem 1rem;
    text-align: center;
}
.about .row .content h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about .row .content p {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    line-height: 1.6;
}
/* Menu Section */
.menu h2,.contact h2, .products h2{
    margin-bottom: 1rem;
}
.menu p,.contact p, .products p{
    text-align: center;
    max-width: 30rem;
    font-size: 1.2rem;
    font-weight: 300;
    margin: auto;
    line-height: 2rem;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.menu .row .menu-card{
    text-align: center;

}
.menu .row .menu-card img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}
.menu .row .menu-card .menu-card-title{
    margin: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row{
    display: flex;
    margin-top: 2rem;
    background-color: #2d2d2d;
    border-radius: 8px;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.contact .row .contact-form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row .contact-form h3{
    text-align: center;
}
.contact .row .contact-form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eaeaea;
    padding-left: 2rem;
    border-radius: 8px;
}
.contact .row .contact-form .input-group input{
    width: 100%;
    background: none;
    font-size: 1.2rem;
    padding: 1rem;
    color: #fff;
}
.contact .row .contact-form .btn{
    margin-top: 2rem;
    display: inline-block;
    background-color: var(--primary);
    padding: 1rem 3rem;
    border-radius: 8px;
}
.contact .row .contact-form a{
    color: #fff;
}

/* Products Section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 25rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}


/* footer */
footer {
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
    background-color: var(--primary);

}
footer .socials{
    padding: 1rem 0;
}
footer .socials a{
    color: #fff;
    margin: 1rem;
}
footer .socials a:hover, footer .links a:hover{
    color: var(--bg);
}
footer .links{
    margin-bottom: 1.2rem;
}
footer .links a{
    padding: 0.7rem 1rem;
    color: #fff;
}
footer .credit{
    font-size: 0.8rem;
}
footer .credit a{
    color: var(--bg);
    font-weight: 700;
}
/* media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
}
/* Tablet */
@media (max-width: 820px) {
    html {
        font-size: 62.5%;
    }
    
    #hamburger-menu{
        display: inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(15, 39, 111, 0.65);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active{
        right: 0;
    }
    .navbar .navbar-nav a{
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .about-img img{
        height: 20rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content{
        padding: 0;
    }
    .about .row .content h3{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .about .row .content p{
        font-size: 1.6rem;
    }
    .menu p{
        font-size: 1.4rem;
    }
    .contact .row{
        flex-wrap: wrap;
    }
    .contact .row .map{
        height: 30rem;
    }
    .contact .row .contact-form{
        padding-top: 1rem;
    }
}
/* Phone */
@media (max-width: 375px) {
    html {
        font-size: 55%;
    }
}